body{
    background-color: black;
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: transparent;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    overflow-x:hidden; 
    width: 100%; 
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

.navigation{
    position: relative; 
    justify-content: flex-start; 
    align-items: flex-start;
     display: inline-flex;
     width: 100%;
     background-color: #1A1B24;
}

.navigation .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px; 
}

.links{
    margin-top: 30px; 
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px; 
}

.home{
    width: 100%; 
    height: 752px; 
    position: relative;
}

.movie{
    width: 100%; 
    height: 650px; 
    left: 0px; 
    position: absolute;
}

.title{
    width: 992px; height: 238px; left: 124px; top: 400px; position: absolute;
}

h1{
    left: 0px; top: -29px; position: absolute; color: white; font-size: 80px; font-family: Inter; font-weight: 700; word-wrap: break-word;
}

.subtitle{
    width: 500px; 
    height: 24px; 
    left: 202px; 
    top: 140px; 
    position: absolute; 
}

.movie-details{
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 15px; 
    display: inline-flex; 
    margin-left: 30px; 
}

.book{
    width: 179px; 
    height: 51px; 
    left: -200px; 
    position: absolute; 
    background: #8B591B; 
    border-radius: 10px; 
    color: white; 
    font-size: 20px; 
    font-family: Inter;
    font-weight: 600;
    border: none; 
}

.book:hover{
    background: #F5CB5C; 
}

h3{
    color: white; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word; 
    margin: 5px;
}

.line{
    width: 24px; 
    height: 0px; 
    transform: rotate(90deg); 
    transform-origin: 0 0; 
    border: 2px white solid; 
    margin-top: 17px;  
}

.actor{
    width: 437px; 
    height: 58px; 
    left: 0px; 
    top: -37px;
    position: absolute; 
    justify-content: flex-start; 
    display: flex; 
    flex-direction: column; 
}

.row {
    display: flex;
    gap: 33px;
    align-items: center;
}

.details{
    margin-top: 17px; 
    margin-left: -20px; 
}

.direction{
    width: 100vw; height: 41.26px; left: -70px; top: -172px; position: relative;
}

.arrow{
    width: 20px; height: 41.26px; left: 0px; top: 0px; position: absolute; 
}

.arrow-right{
    transform: rotate(-180deg); transform-origin: 0 0; left: 1400px; top: 41.26px;
}

.movie-row{
    display:inline-flex; 
}

.movie-name{
    height: 562px; 
    background-color: white;
    width: 320px; 
    margin-left: 130px; 
    border-radius: 10px; 
    margin-bottom: 80px;
    transition: all .3s ease-in; 
}
.movie-name:hover{
    -ms-transform:scale(1.05);
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}


.movie-pic{
    width: 320px;
    height: 450px;
    border-radius: 10px 10px 0 0;
    background: lightgray 50% / cover no-repeat;
}

a{
    text-decoration: none; 
}

h2{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-left: 20px; 
    margin-top: 27px; 
    margin-bottom: 0px; 
    padding-bottom: 10px; 
    text-decoration: none; 
}

.movie-list-details{
    margin-top: -150px; 
    margin-left: 40px; 
}

.movie-list-details h3{
    color: black; 
    font-size: 15px; 
    font-weight:400;
    margin-right: 0px; 
}

.cinema-name{
    height:385px; 
    width: 318px;  
    margin-bottom: 0px; 
    margin-top: 60px;
    margin-bottom: 40px;  
}

.movie-list-details .line{
    width: 15px;
    border: 1px black solid; 
}

.cinema-list{
    margin-bottom: 60px; 
}

.cinema-pic{
    width: 318px; 
    height: 195px; 
}

.cinema-name h2{
    font-size: 30px; 
    margin-top: 10px;
}

.cinema-location{
    display: inline-flex; 
    margin-top: 10px; 
    margin-left: 20px; 
}
.location-icon{
    width: 25px;
    height: 25px; 
}

.cinema-name h3{
    font-size: 20px; 
    font-weight: bold; 
    color: black; 
    margin-top: -5px; 
}

.showtimes{
    width: 318px; 
    height: 59px; 
    background: #8B591C; 
    border-radius: 0 0 10px 10px; 
    color: white; 
    font-weight: 700; 
    text-align: center; 
    font-size: 22px; 
    margin-top: 22px;
    border: none;  
}

.movie-synopsis{
    display: inline-flex; 
    margin-top: 50px; 
}

.poster{
    width: 393px; 
    height: 623px; 
    margin-left: 70px; 
    margin-right: 30px; 
}

.detailing{
    margin-bottom: 140px; 
}

.details-row{
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
}

.details-column{
    flex: 1; 
    display: inline-block; 
}

.moredetails{
    color: white; 
}

.detailing h2{
    font-size: 45px; 
    color: #F5CB5C; 
    font-weight: bold; 
}

.detailing h3{
    color: #F5CB5C; 
    font-weight: bold; 
    font-size: 30px; 
    margin-left: 30px; 
    margin-top: 25px;  
}

.details-column .column-two{
    white-space: nowrap; 
}

.synopsis{
    width: 679px !important; 
}

.movie-carousel{
    width: 1330px; 
    height: 100%; 
    background-color: #1A1B24; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 80px; 
    padding-top: 5px;
    padding-bottom:  60px; 
}

.cinema-box{
    width: 1226px; 
    height: 260px; 
    background-color: #F5CB5C; 
    border-radius: 10px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 80px; 
}

.cinema-box h2{
    color: black; 
    font-weight: bold; 
    font-size: 30px; 
    padding-top: 15px; 
    padding-left: 13px; 
}

.date-carousel{
    width: 1226px; 
    height: 68px; 
    margin-top: 15px; 
    background-color: #8B591B; 
    position: relative; 
    display: inline-flex; 

}

.next-arrow{
    margin-top: 14px; 
    margin-left: 33px; 
}

.next-arrow-right{
    margin-left: 60px; 
}

.date-carousel a{
    text-decoration: none; 
}

.date-carousel h3:hover{
    color:#F5CB5C; 
}

.date-carousel h3{
    font-weight: bold; 
    text-align: center; 
    margin-left: 40px; 
    margin-top: 10px; 
    overflow-wrap: break-word; 
    width: 133px;
    height: 49px;
}

.cinema-time-list{
    display: inline-flex; 
}

.cinema-time{
    width: 121px; 
    height: 41px; 
    border-radius: 15px; 
    margin-left: 57px;
    margin-top: 31px; 
    border: none; 
    background-color: #8B591C; 
    color: #F5CB5C; 
    font-size: 23px; 
    font-weight: bold; 
}

.cinema-time:hover{
    background-color: #4F4F4F; 
}

.cinema-names{
    display: inline-flex; 
    margin-left: 150px; 
    margin-top: 40px; 
}

.cinema-names img{
    width: 60px; 
    height: 60px; 
}

.cinema-names h2{
    font-size: 45px; 
    margin-top: 0; 
    color: #F5CB5C; 
    font-weight: bold; 
}

.cinema-carousel{
    width: 1330px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 150px; 
    margin-top: -30px; 
}

.movie-box{
    width: 1226px; 
    height: 581px; 
}

.movie-time-list{
    margin-top: 28px; 
}

.movie-picture{
    width: 200px; 
    height: 356px; 
    border-radius: 0; 
    margin-left: 33px; 
}

.movie-time{
    margin-top: 4px; 
    margin-left: 30px;
}

