.check-booking-result {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 24px;
    flex: 1 1 auto;
}

.check-booking-result h1 {
    color: #F5CB5C;
    margin-bottom: 6px;
}

.check-booking-result .email {
    color: white;
}

.booking-list {
    display: flex;
    flex-direction: column;
    margin: 24px 0;
}

.not-found {
    display: flex;
    flex-direction: column;
    color: white;
}

.not-found span {
    font-size: 15px;
}

.booking-card {
    display: flex;
    width: 60%;
    border-radius: 10px;
    overflow: hidden;
    min-height: 250px;
    margin: 12px 0;
}

.booking-card .details {
    display: flex;
    flex-direction: column;
    min-width: 60%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #F5CB5C;
    padding: 24px;
    font-size: 12px;

}

.booking-card .details-group {
    display: flex;
    justify-content: flex-start;
    margin-top: 24px;
}

.booking-card .details .movie-detail {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: 60%;
    padding-left: 35px;
}

.booking-card .icon {
    width: 14px;
    height: 14px;
    padding-right: 6px;
}


.booking-card .details .movie-title {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 12px;
}

.booking-card .qr-code {
    background-color: #8B591C;
    padding: 24px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.qr-code .qr-image {
    background-color: white;
    padding: 12px;
    border-radius: 12px;
    color: white;
    width: 50%;
    height: auto;
    margin-bottom: 12px;
}

.qr-image img {
    width: 100%;
    height: 100%;
}