
.success {
    display: flex;
    flex-direction: column;
    background-color: #F5CB5C;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}

.success p {
    margin: 6px;
}

.success img {
    max-width: 20%;
    margin: 24px;
}

.home-button {
    margin-top: 12px;
    background-color: #4F4F4F;
    color: #F5CB5C;
    font-size: 15px;
    border-radius: 10px;
    width: auto;
    height: 5vh;
    border: none;
    padding: 0 12px;
}

.home-button:hover {
    background-color: black;
    cursor: pointer;
}