body{
    background-color: black;
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: transparent;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    overflow-x:hidden; 
    min-height: 100vh;
    min-width: 100vw;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    margin: 0 !important;
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigation{
    justify-content: flex-start; 
    align-items: flex-start;
     display: inline-flex;
     width: 100%;
     background-color: #1A1B24;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navigation .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px; 
}

.navigation .links{
    margin-top: 30px; 
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px; 
}